<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Help us with our mission
            </h1>
            
        </div>
        <div class="col-md-6">
            <img src="https://images.pexels.com/photos/3280130/pexels-photo-3280130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="img-fluid" style="margin-top: 10%; margin-left: 50%; width: 50%;">
            <br><br>
            <form action="/charge" method="POST" id="donationForm">
            <br>
            <label for="donationAmount" style="margin-left: 55%;">How much would you like to give?</label>
            <br>
            <input type="number" name="donationAmount" style="margin-left: 55%;" id="donationAmount">

         {{!-- <script> --}}
           {{!-- function donate(){

          }
          var donationAmount = document.getElementById('donationAmount');
          var form = document.getElementById('donationForm'); 
          var x = parseFloat(donationAmount.value);
          var dAmount = x*100;
          var donationAmount =  dAmount;--}}

         {{!-- </script>   --}}
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_N7o1xUueyXbDfHk2EMpN3fus00CLdUgsGi"
          data-amount= ""
          data-name="Donation"
          data-description="Website donation to Fionita's Project"
          data-image="/img/marketplace.png"
          data-locale="auto">
        </script>
        <script>
          // Hide default stripe button
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-outline-dark text-white btn-lg" style="margin-top: 7%; margin-left: 60%;" onclick="donate()">Donate</button>
      </form>
        </div>
    </div>
</section>